<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24">
    <div>
      <div class="text-center max-w-4xl mx-auto">
        <div class="sm:flex sm:justify-center">
          <div
            class="relative rounded-full py-1 px-3 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
          <span class="absolute inset-0 font-semibold text-red" aria-hidden="true"></span>
              <span class="block lg:inline">
                Canadian Sale By Owner
              </span>
            
          </div>
        </div>
        <p
          class="text-black mt-8 font-extrabold lg:text-5xl text-4xl tracking-tight">
          A new revenue stream for Canadian real estate brokerages.
        </p>
        <p class="text-gray-500 lg:text-xl max-w-2xl mt-4 mx-auto text-base">
          Generate additional income by offering listing services to private home sellers with the CASBO system.
        </p>
      </div>
      <div class="flex justify-center gap-3 mt-10 flex-col sm:flex-row">
        <a
          class="items-center justify-center h-12 font-medium rounded-xl focus-visible:outline-black focus:outline-none inline-flex duration-200 text-black lg:w-auto px-6 py-3 text-center text-black/80 w-full border"
          href="https://github.com/michael-andreuzza/astrosaas">Start free trial</a
        >
        <a
          class="items-center justify-center h-12 font-medium rounded-xl focus-visible:outline-black focus:outline-none inline-flex bg-black border-2 border-black duration-200 focus-visible:ring-black hover:bg-transparent hover:border-black hover:text-black lg:w-auto px-6 py-3 text-center text-white w-full"
          href="https://lexingtonthemes.com"
          >Learn more &nbsp; &darr;
        </a>
      </div>
      <dl
        class="lg:gap-x-8 lg:grid-cols-3 max-w-4xl mt-8 mx-auto sm:gap-x-6 sm:gap-y-12 sm:grid sm:grid-cols-2 sm:space-y-0 space-y-6 text-center text-sm items-start">
        <div class="text-gray-500">
          <strong class="text-gray-700"
            >High Return, Low Effort</strong
          >Dive into a world where high returns meet unparalleled convenience, with brokerages empowered to set profitable prices, averaging $600 CAD per 5 minutes of your time.
        </div>
        <div class="text-gray-500">
          <strong class="text-gray-700">Effortless Integration</strong> Incorporate CASBO effortlessly into your existing website. Our engineers make your web app blend seamlessly with your branding.
        </div>
        <div class="text-gray-500">
          <strong class="text-gray-700">AI-Driven Efficiency</strong> Leverage cutting-edge AI that autonomously crafts premium listings. Your role? A quick review to ensure perfection before submission.
        </div>
      </dl>
    </div>
    <!-- Screenshot of working desktop funnel / webapp
      <div class="relative w-full mx-auto max-w-7xl items-center py-12 pb-12">
      <div class="bg-gray-100 p-8 rounded-3xl" style="">
        <img
          alt=""
          class="relative w-full border lg:rounded-2xl object-cover rounded shadow-2xl"
          src="https://linear.app/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero%404x.15e3a396.jpg&w=3840&q=75"
        />
      </div>
    </div> -->

  </div>
</section>
